<div class="principal-container">

  <header class="head">
    <img src="../../../assets/logo.png" alt="logo">
    <button class="return-button">&lt;</button>
    <div class="image-logo"></div>
  </header>

  <div class="body-menu">

    <aside class="category-column">
      @for(category of menuCategories; track category.category_id){
        <button class="category-btn">
          {{ category.category_name}}
        </button>
      }
      <button class="show-order-btn">show order</button>
    </aside>


    <main class="product-column">

      @for (category of menuCategories; track category.category_id){
        <section>
          <h2 class="section-title">{{ category.category_name }}</h2>

          @for (p of category.products; track p.id){
            <app-product-card [product]="p"></app-product-card>
          }
        </section>
      }

    </main>
  </div>

</div>
