<div class="principal-container">
  <header class="head">
    <button class="return-button" routerLink="/admin/dashboard">&lt;</button>
    <img src="assets/logo.png" alt="logo">
  </header>

  <div class="body-admin">
    <div class="sub-header">Admin - Product Management</div>

    <main class="content-area">
      <div class="admin-toolbar">
        <input type="text" class="search-field" placeholder="🔍 Search products...">
        <button class="add-btn" (click)="addNewProduct()">+ Add Product</button>
      </div>

      <div class="grid-comandas">
        @for (product of products(); track product.id) {
        <section class="comanda-card">
          <div class="product-row">
            <span class="product-name"><strong>{{ product.name }}</strong></span>

            <div class="product-controls">
              <span class="product-price">{{ product.price | number:'1.2-2' }}€</span>
              <div class="actions">
                <button class="btn-modify" (click)="editProduct(product)">Modify</button>
                <button class="btn-delete" (click)="deleteProduct(product)">Delete</button>
              </div>
            </div>

          </div>
        </section>
        } @empty {
        <div class="empty-state">
          <p>No products found in the database.</p>
        </div>
        }
      </div>
    </main>
  </div>
</div>
